<div class="intro-header">
	<div class="container" id="main">
		<div class="row">
			<div class="col-md-12">

				<div class="intro-message">
					<h1>Constantly Fit</h1>
					<h3>A fun app to compare and compete</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						{{#link-to 'users' class='btn btn-default btn-lg' tagName='li'}}
						<i class="fa fa-twitter fa-fw"></i> <span class="network-name">Leaderboard</span>
						{{/link-to}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
